*.o
*.a
parse_output
htsim_*
*.dat
*.csv
idmap.txt
*_test
*.out
*.pyc
**/validation/**/*.cm
*.pdf
*.png
!example_validate.json
*_test
*.txt
.vscode
*.tmp

!LICENSE-Transport-WG.txt
!requirements.txt
!failures_input/
!failures_input/**/*.txt

FINAL_OS_RUN_ASYMsymm_notrim_coll
FINAL_OS_RUN_ASYMasy_notrim_dc
FINAL_OS_RUN_SYMMsymm_notrim_coll
FINAL_OS_RUN_SYMMsymm_notrim_dc
FINAL_OS_RUN_SYMMsymm_notrim_synth
tests
dc